*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans Condensed", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ol {
  list-style: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  line-height: 35px;
  font-weight: 700;
}

.header {
  background-image: url(../img/header-img.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 108px;
}

.header__wrapper {
  color: #ffffff;
}

.header__top {
  padding-top: 44px;
}

.header__list {
  display: flex;
  justify-content: space-around;
}


.list-link {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.list-link__comp {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

.header__inner {
  display: flex;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__text img {
  transform: translate(0px, -40px);
}

.text-wrapper {
  transform: translate(0px, -104px);
}

.header__title {
  font-size: 162px;
  font-weight: 400;
}

.header__subtitle {
  font-size: 90px;
  line-height: 92px;
  margin-bottom: 36px;
}

.header__button-link {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 500;
}

.header__img {
  transform: translate(98px, -60px);
}

.header-btn {
  border: none;
  background-color: #f8bdda;
  padding: 21px 41px 22px;
  border-radius: 9px;
  width: 399px;
}

.about {
  margin-bottom: 112px;
}

.about__wrapper {
  display: flex;
  align-items: center;
}

.about__img {
  background-image: url(../img/about-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-right: 75px;
  flex-basis: 560px;
}

.about__img img {
  margin: 0 auto;
  display: block;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 560px;
}

.about__title {
  margin-bottom: 55px;
}

.about__title span {
  color: #D96E9B;
}

.about__text {
  font-size: 29px;
  text-align: center;
}

.advantage {
  margin-bottom: 101px;
}

.advantage-title {
  margin-bottom: 55px;
}

.advantage-title span {
  color: #D96E9B;
}

.advantage__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.advantage__content {
  text-align: center;
  background-color: #FFEEF5;
  padding: 30px;
}

.advantage__content-bg {
  text-align: center;
  background-color: #E5EAFF;
  padding: 30px;
}

.advantage-img {
  margin-bottom: 20px;
}

.advantage__content-title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
}

.advantage__content-text {
  font-size: 19px;
  text-align: center;
  line-height: 23px;
}